/* Sets color and styles of websie background */

body {background-color:black;font-family:arial;color:white}

/* Sets color of title*/
h1{color:grey;font-family:verdana}

/* Sets color and styles of the calculator*/
.maindiv { background-color:white; color:black; width:300px; padding:20px; border-radius:25px; align:center
}

/* Sets color and styles of the highlighted calculated text */
.mark_compute {background-color:lightgreen;
    color: darkgreen}
